<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBank</title>
    <link rel="stylesheet" href="../static/css/BankStyle.css">
    <h1 class="title">Account</h1>



<body>
<div class="Profile-Image">
    <img src="../static/img/so.jpg" height="150px" width="150px"/>
</div>
<div class="main-block">
    <div class="CurrentBalance">
        <h4 > Current Balance</h4>
        <h1 >{{balance}}</h1>
    </div>

   <div>
      <div class="left">
          <h1>2508$</h1>
          <h4>Income</h4>
      </div>

       <div class="right">
           <h1>2508$</h1>
           <h4>Expenses</h4>
       </div>
   </div>
</div>

<div>


</div>

</body>
</html>